<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()
</script>
<template>
  <v-table>
    <thead>
      <tr style="background-color: rgba(75, 56, 42, 1);">
        <th>No.</th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Total</th>
        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
      <!-- using v-for like below will get item and index form the array -->
      <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id"
        :style="{ backgroundColor: index % 2 === 0 ? 'rgba(244, 232, 213, 1)' : 'rgba(239, 218, 195, 1)' }">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn icon="mdi-minus" density="compact" @click="() => {
              receiptStore.dec(item)
            }
            "></v-btn>{{ item.unit
  }}<v-btn icon="mdi-plus" density="compact" @click="() => {
    receiptStore.inc(item)
  }
  "></v-btn>
        </td>
        <td>{{ item.price * item.unit }}</td>
        <td>
          <v-btn icon="mdi-delete" density="compact" @click="() => {
              receiptStore.removeReceiptItem(item)
            }
            "></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>

<style>
th {
  color: white;

}
</style>
