<script setup lang="ts">
import router from '@/router'

type Material = {
    id: number
    name: string
    status: string
    min: number
    balance: number
    unit: string
}
const BackToMainStock = () => {
    router.push({ name: 'stock' }); // ต้องแก้ตามชื่อของ route ที่ต้องการไป
  };
</script>

<template>
    <div>buy stock page</div>
    <v-table>
        <thead>
                <tr>
                    <th class="text-center">Material ID</th>
                    <th class="text-center">Material Name</th>
                    <th class="text-center">Min</th>
                    <th class="text-center">Balance</th>
                    <th class="text-center">Unit</th>
                    <th class="text-center">Price</th>
                </tr>
            </thead>
    </v-table>
    <v-container> 
        <v-btn color="red" @click="BackToMainStock">Back </v-btn>     
    </v-container>
</template>