<script setup lang="ts">
import { computed, nextTick, onMounted, reactive, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Material } from '@/types/Material'
import router from '@/router'

const dialog = ref(false)
const form = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)
const dialogEdit = ref(false)

const refForm = ref<VForm | null>(null)

const totalMaterials = computed(() => material.value.length);
const totalAvailableMaterials = computed(() => {
  return combinedMaterials.value.filter(item => item.status === 'Available').length;
});
const totalLowMaterials = computed(() => {
  return combinedMaterials.value.filter(item => item.status === 'Low').length;
});
const totalOutMaterials = computed(() => {
  return combinedMaterials.value.filter(item => item.status === 'Out of Stock').length;
});


let lastId = 13
const initilMaterial: Material = {
  id: -1,
  name: '',
  status: 'Available',
  min: 0,
  balance: 0,
  unit: ''
}

const editedMaterial = ref<Material>(JSON.parse(JSON.stringify(initilMaterial)))
const material = ref<Material[]>([])
const headers = [
  {
    title: 'Material ID',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Material Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Min',
    key: 'min',
    value: 'min'
  },
  {
    title: 'Balance',
    key: 'balance',
    value: 'balance'
  },
  {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  },
  {
    title: 'Status(auto)',
    key: 'status',
    value: 'status'
  },
  {
    title: 'Actions',
    key: 'actions',
    sortable: false
  }
]
const search = ref<string>('')
function onSubmit() {}
let editedIndex = -1

function initialize() {
  material.value = [
  { id: 1, name: 'ผงกาแฟ', status: 'Available', min: 1, balance: 10, unit: 'Kilogram' },
    { id: 2, name: 'เมล็ดกาแฟ', status: 'Available', min: 2, balance: 10, unit: 'Kilogram' },
    { id: 3, name: 'นม', status: 'Low', min: 3, balance: 2, unit: 'Liter' },
    { id: 4, name: 'มะนาว', status: 'Available', min: 2, balance: 4, unit: 'Kilogram' },
    { id: 5, name: 'นํ้าเชื่อม', status: 'Available', min: 1, balance: 2, unit: 'Liter' },
    { id: 6, name: 'ผงชาเขียว', status: 'Low', min: 3, balance: 2, unit: 'Kilogram' },
    { id: 7, name: 'ผงชา', status: 'Available', min: 2, balance: 2, unit: 'Kilogram' },
    { id: 8, name: 'แก้วพลาสติก', status: 'Available', min: 10, balance: 12, unit: 'piece' },
    { id: 9, name: 'หลอด', status: 'Available', min: 9, balance: 12, unit: 'piece' },
    { id: 10, name: 'ครีมเทียม', status: 'Available', min: 2, balance: 3, unit: 'Kilogram' },
    { id: 11, name: 'นํ้าผึ้ง', status: 'Low', min: 2, balance: 1, unit: 'Liter' },
    { id: 12, name: 'นมข้น', status: 'Available', min: 1, balance: 2, unit: 'Liter' }
  ]
}

onMounted(() => {
  initialize()
})

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedMaterial.value = Object.assign({}, initilMaterial)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return
  if (editedMaterial.value.id > 0) {
    Object.assign(material.value[editedIndex], editedMaterial.value)
  } else {
    editedMaterial.value.id = lastId++
    material.value.push(editedMaterial.value)
  }

  closeDialog()
}
const combinedMaterials = computed(() => {
  const searchTerm = search.value.toLowerCase()
  return material.value
    .map((item) => {
      let updatedStatus = ''
      if (item.balance >= item.min) {
        updatedStatus = 'Available'
      } else if (item.balance == 0) {
        updatedStatus = 'Out of Stock'
      } else if (item.balance < item.min) {
        updatedStatus = 'Low'
      }
      return { ...item, status: updatedStatus }
    })
    .filter((item) => {
      return (
        item.name.toLowerCase().includes(searchTerm) ||
        item.status.toLowerCase().includes(searchTerm)
      )
    })
})
function editItem(item: Material) {
  editedIndex = material.value.findIndex((m) => m.id === item.id)
  editedMaterial.value = reactive({ ...item })
  dialog.value = true
}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedMaterial.value = Object.assign({}, initilMaterial)
  })
}
function deleteItemConfirm() {
  material.value.splice(editedIndex, 1)
  closeDelete()
}
function deleteItem(item: Material) {
  editedIndex = material.value.indexOf(item)
  editedMaterial.value = reactive({ ...item })
  dialogDelete.value = true
}

const BackToMainStock = () => {
  router.push({ name: 'stockja', query: { updatedMaterials: JSON.stringify(material.value) } })
}
</script>

<template>
  <h1 style="padding-top: 0px; padding-left: 20px; text-align: center">Check Stock</h1>
  <v-spacer></v-spacer>

  <div>
    <v-container>
      <v-row>
        <v-col><v-card height="130px" style="background-color: #4ca8ff;" class="overviewStock">
          <v-card-title>Total Product</v-card-title>
          <div style="padding-left: 30px;">{{ totalMaterials }}
            <v-icon end icon="mdi-archive" size="60px" style="padding-left: 130px;"></v-icon></div>
          </v-card></v-col>
        <v-col><v-card height="130px" style="background-color: #5EB966;" class="overviewStock">
          <v-card-title>Available</v-card-title>
          <div style="padding-left: 30px;">{{ totalAvailableMaterials }}
          <v-icon end icon="mdi-checkbox-marked-circle" size="60px" style="padding-left: 130px;"></v-icon></div>
        </v-card></v-col>
        <v-col><v-card height="130px" style="background-color: #F4A833;" class="overviewStock" >
          <v-card-title>Low Stock</v-card-title>
          <div style="padding-left: 30px;">{{ totalLowMaterials }}
          <v-icon end icon="mdi-alert" size="60px" style="padding-left: 130px;"></v-icon></div>
        </v-card></v-col>
        <v-col><v-card height="130px" style="background-color: #E94344;" class="overviewStock">
          <v-card-title>Out of Stock</v-card-title>
          <div style="padding-left: 30px;">{{ totalOutMaterials }}
            <v-icon end icon="mdi-close-circle" size="60px" style="padding-left: 130px;"></v-icon></div>
        </v-card></v-col>
      </v-row>
    </v-container>
  </div>
  <v-container>
    
        <v-data-table :headers="headers" :items="combinedMaterials" :items-per-page="8" class="custom-datatable">
          <template v-slot:top>
            <v-toolbar style="background-color: #4b382a; height: auto" dark flat>
              <v-toolbar-title style="color: white">
                <v-text-field
                  class="mr-4"
                  prepend-inner-icon="mdi-magnify"
                  v-model="search"
                  label="Search"
                  style="height: 60px; margin-top: 4px"
                ></v-text-field>
              </v-toolbar-title>
              <v-divider class="mr-4" inset vertical></v-divider>
              <v-spacer></v-spacer>
              <!-- Put Edited  Dialog -->
              <v-dialog v-model="dialog" persistent width="1024">
                <template v-slot:activator="{ props }">
                  <v-btn style="background-color: white; margin-right: 16px" v-bind="props">
                    New material
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="text-h5">Material Profile</span>
                  </v-card-title>
                  <v-card-text>
                    <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                      <v-container>
                        <v-row>
                          <v-col cols="12">
                            <v-text-field
                              v-model="editedMaterial.name"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              class="mb-2"
                              clearable
                              label="Name"
                            ></v-text-field>
                          </v-col>

                          <v-col cols="6" sm="6">
                            <v-text-field
                              v-model="editedMaterial.min"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              clearable
                              label="Min"
                              placeholder="Enter your min"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="6" sm="6">
                            <v-text-field
                              v-model="editedMaterial.balance"
                              :readonly="loading"
                              :rules="[(v) => !!v || 'Field is required']"
                              clearable
                              label="Balance"
                              placeholder="Enter your balance"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="6" sm="6">
                            <v-combobox
                              label="Unit"
                              :items="['Kilogram', 'Gram', 'Liter', 'Milliliter', 'piece']"
                              v-model="editedMaterial.unit"
                              variant="solo-filled"
                            ></v-combobox>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-form>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="closeDialog"> Close </v-btn>
                    <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Delete Dialog -->
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                    <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm"
                      >OK</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
            <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
          </template>
        </v-data-table>

      </v-container>


  
    <v-container>
      <v-btn color="red" @click="BackToMainStock"> Back </v-btn>
    </v-container>
  
</template>
