<script setup lang="ts">
import type { Material } from '@/types/Material';
import { computed, nextTick, onMounted, reactive, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import router from '@/router';


const dialog = ref(false)
const form = ref(false)
const loading = ref(false)
const dialogDelete = ref(false)
const dialogEdit = ref(false)

const refForm = ref<VForm | null>(null)
const totalMaterials = computed(() => material.value.length);
const totalAvailableMaterials = computed(() => {
  return combinedMaterials.value.filter(item => item.status === 'Available').length;
});
const totalLowMaterials = computed(() => {
  return combinedMaterials.value.filter(item => item.status === 'Low').length;
});
const totalOutMaterials = computed(() => {
  return combinedMaterials.value.filter(item => item.status === 'Out of Stock').length;
});
let lastId = 13
const initilMaterial: Material = {
  id: -1,
  name: '',
  status: 'Available',
  min: 0,
  balance: 0,
  unit: ''
}

const editedMaterial = ref<Material>(JSON.parse(JSON.stringify(initilMaterial)))
const material = ref<Material[]>([])
const headers = [
  {
    title: 'Material ID',
    key: 'id',
    value: 'id'
  }, {
    title: 'Material Name',
    key: 'name',
    value: 'name'
  },{
    title: 'Min',
    key: 'min',
    value: 'min'
  }, {
    title: 'Balance',
    key: 'balance',
    value: 'balance'
  }, {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  }, {
    title: 'Status(auto)',
    key: 'status',
    value: 'status'
  },
  {
    title: 'Actions', key: 'actions', sortable: false
  }
]
const search = ref<string>('');
function onSubmit() {}
let editedIndex = -1


function initialize() {
  material.value = [
    {
      id: 1,
      name: 'ผงกาแฟ',
      min: 1,
      balance: 10,
      status: 'Available',
      unit: 'Kilogram'
    }, {
      id: 2,
      name: 'เมล็ดกาแฟ',
      status: 'Available',
      min: 2,
      balance: 10,
      unit: 'Kilogram'
    }, {
      id: 3,
      name: 'นม',
      status: 'Low',
      min: 3,
      balance: 2,
      unit: 'Liter'
    }, {
      id: 4,
      name: 'มะนาว',
      status: 'Available',
      min: 2,
      balance: 4,
      unit: 'Kilogram'
    }, {
      id: 5,
      name: 'นํ้าเชื่อม',
      status: 'Available',
      min: 1,
      balance: 2,
      unit: 'Liter'
    }, {
      id: 6,
      name: 'ผงชาเขียว',
      status: 'Low',
      min: 3,
      balance: 2,
      unit: 'Kilogram'
    }, {
      id: 7,
      name: 'ผงชา',
      status: 'Available',
      min: 2,
      balance: 2,
      unit: 'Kilogram'
    }, {
      id: 8,
      name: 'แก้วพลาสติก',
      status: 'Available',
      min: 10,
      balance: 12,
      unit: 'piece'
    }, {
      id: 9,
      name: 'หลอด',
      status: 'Available',
      min: 9,
      balance: 12,
      unit: 'piece'
    }, {
      id: 10,
      name: 'ครีมเทียม',
      status: 'Available',
      min: 2,
      balance: 3,
      unit: 'Kilogram'
    }, {
      id: 11,
      name: 'นํ้าผึ้ง',
      status: 'Low',
      min: 2,
      balance: 1,
      unit: 'Liter'
    }, {
      id: 12,
      name: 'นมข้น',
      status: 'Available',
      min: 1,
      balance: 2,
      unit: 'Liter'
    }
  ]
}

onMounted(() => {
  initialize()
})
function closeDialog() {
  dialog.value = false
  nextTick(() => {
    editedMaterial.value = Object.assign({}, initilMaterial)
    editedIndex = -1
  })
}
function closeDialogEdit() {
  dialogEdit.value = false
  nextTick(() => {
    editedMaterial.value = Object.assign({}, initilMaterial)
    editedIndex = -1
  })
}
async function save() {
  const { valid } = await refForm.value!.validate();

  if (!valid) return;

  if (editedIndex > -1) {
    // Update existing item at the same index
    const updatedItem = { ...editedMaterial.value };
    material.value.splice(editedIndex, 1, updatedItem);
    console.log('edit')
  } else {
    // Add new item with a new ID
    editedMaterial.value.id = lastId++;
    material.value.push(editedMaterial.value);
    console.log('add')
  }
  closeDialog();
}
async function saveEdit() {
  const { valid } = await refForm.value!.validate();

  if (!valid) return;

  if (editedIndex > -1) {
    // Update existing item at the same index
    const updatedItem = { ...editedMaterial.value };
    material.value.splice(editedIndex, 1, updatedItem);
    console.log('edit')
  } else {
    // Add new item with a new ID
    editedMaterial.value.id = lastId++;
    material.value.push(editedMaterial.value);
    console.log('add')
  }
  closeDialogEdit();
}

const combinedMaterials = computed(() => {
  const searchTerm = search.value.toLowerCase();
  return material.value.map((item) => {
    let updatedStatus = '';
    if (item.balance >= item.min) {
      updatedStatus = 'Available';
    } else if (item.balance == 0) {
      updatedStatus = 'Out of Stock';
    } else if (item.balance < item.min) {
      updatedStatus = 'Low';
    }
    return { ...item, status: updatedStatus };
  }).filter((item) => {
    return (
      item.name.toLowerCase().includes(searchTerm) ||
      item.status.toLowerCase().includes(searchTerm) ||
      (searchTerm === 'low' && item.status.toLowerCase() === 'low')
    );
  });
});
function editItem(item: Material) {
  editedIndex = material.value.findIndex((m) => m.id === item.id);
  editedMaterial.value = reactive({ ...item });
  dialogEdit.value = true;
}
function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    editedMaterial.value = Object.assign({}, initilMaterial)
  })
}
function deleteItemConfirm() {
  material.value.splice(editedIndex, 1)
  closeDelete()
}
function deleteItem(item: Material) {
  editedIndex = material.value.indexOf(item);
  editedMaterial.value = reactive({ ...item });
  dialogDelete.value = true;
}


const BackToMainStock = () => {
    router.push({ name: 'stockja' }); // ต้องแก้ตามชื่อของ route ที่ต้องการไป
  };

</script>

<template>
    <h1 style="padding-top: 20px; padding-left: 20px; text-align: center;">Import  Stock</h1>
    <v-spacer></v-spacer>
    
    <v-container>
            <v-data-table :headers="headers" :items="combinedMaterials" class="custom-datatable">
      <template v-slot:top>
        <v-toolbar style="background-color: #4B382A; height: auto;" dark flat>
            <v-toolbar-title style="color: white;">
            <v-text-field class="mr-4" prepend-inner-icon="mdi-magnify" v-model="search" label="Search" style="height: 60px; margin-top: 4px;"></v-text-field>
          </v-toolbar-title>
          <v-divider class="mr-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited  Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn style="background-color: white; margin-right: 16px;" v-bind="props">Import New material</v-btn>
            </template>
            
            <v-card>
              <v-card-title>
                <span class="text-h5">Add Material</span>
              </v-card-title>

              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="editedMaterial.name" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Name"></v-text-field>
                      </v-col>

                      <v-col cols="6" sm="6">
                        <v-text-field v-model="editedMaterial.min" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="Min"
                          placeholder="Enter your min"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="6">
                        <v-text-field v-model="editedMaterial.balance" :readonly="loading"
                          :rules="[(v) => !!v || 'Field is required']" clearable label="Balance"
                          placeholder="Enter your balance"></v-text-field>
                      </v-col>
                      <v-col cols="6" sm="6">
                        <v-combobox label="Unit" :items="['Kilogram', 'Gram', 'Liter', 'Milliliter', 'piece']"
                          v-model="editedMaterial.unit" variant="solo-filled"></v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialog">Close</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="save()">Save</v-btn>
              </v-card-actions>
            </v-card>
            
          </v-dialog>

          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)">mdi-pencil</v-icon>
        <v-icon size="small" @click="deleteItem(item)">mdi-delete</v-icon>
      </template>
    </v-data-table>
    <v-dialog v-model="dialogEdit" max-width="500px">
            <v-card>
              <v-card-title>
                <v-icon end icon="mdi-file-document-edit-outline" size="30px"></v-icon><span class="text-h5"> Import Stock</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="editedMaterial.id" readonly clearable label="Material ID"></v-text-field>
                        <v-text-field v-model="editedMaterial.name" readonly clearable label="Material Name"></v-text-field>
                        <v-text-field v-model="editedMaterial.balance" readonly clearable label="Balance"></v-text-field>
                        <p> Check</p>  <br>
                        <v-text-field v-model="editedMaterial.balance" :readonly="loading" style="background-color: rgb(248, 245, 240);"
                          :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Import Stock Balance"></v-text-field>
                      </v-col>
                      </v-row>
                    </v-container>
                    </v-form>
                    </v-card-text>
                    <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="closeDialogEdit"> Close </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="saveEdit()"> Save </v-btn>
              </v-card-actions>
                    </v-card>
          </v-dialog>
        
    </v-container>
    

    <v-container> 
        <v-btn color="red" @click="BackToMainStock"> Back </v-btn>
    </v-container>
  
</template>