<script setup lang="ts">
import { computed, onMounted, reactive, watch } from 'vue';
import { nextTick, ref } from 'vue';
import type { Material } from '@/types/Material';
import router from '@/router';
import { useRoute, type RouteLocationNormalizedLoaded } from 'vue-router';


const Materials = ref<Material[]>([
    { id: 1, name: 'ผงกาแฟ', status: 'Available', min: 1, balance: 10, unit: 'Kilogram' },
    { id: 2, name: 'เมล็ดกาแฟ', status: 'Available', min: 2, balance: 10, unit: 'Kilogram' },
    { id: 3, name: 'นม', status: 'Low', min: 3, balance: 2, unit: 'Liter' },
    { id: 4, name: 'มะนาว', status: 'Available', min: 2, balance: 4, unit: 'Kilogram' },
    { id: 5, name: 'นํ้าเชื่อม', status: 'Available', min: 1, balance: 2, unit: 'Liter' },
    { id: 6, name: 'ผงชาเขียว', status: 'Low', min: 3, balance: 2, unit: 'Kilogram' },
    { id: 7, name: 'ผงชา', status: 'Available', min: 2, balance: 2, unit: 'Kilogram' },
    { id: 8, name: 'แก้วพลาสติก', status: 'Available', min: 10, balance: 12, unit: 'piece' },
    { id: 9, name: 'หลอด', status: 'Available', min: 9, balance: 12, unit: 'piece' },
    { id: 10, name: 'ครีมเทียม', status: 'Available', min: 2, balance: 3, unit: 'Kilogram' },
    { id: 11, name: 'นํ้าผึ้ง', status: 'Low', min: 2, balance: 1, unit: 'Liter' },
    { id: 12, name: 'นมข้น', status: 'Available', min: 1, balance: 2, unit: 'Liter' }
  ])

const headers = [
  {
    title: 'Material ID',
    key: 'id',
    value: 'id'
  }, {
    title: 'Material Name',
    key: 'name',
    value: 'name'
  },{
    title: 'Min',
    key: 'min',
    value: 'min'
  }, {
    title: 'Balance',
    key: 'balance',
    value: 'balance'
  }, {
    title: 'Unit',
    key: 'unit',
    value: 'unit'
  }, {
    title: 'Status(auto)',
    key: 'status',
    value: 'status'
  }
  
]

onMounted(() => {
  const route = router.currentRoute.value as RouteLocationNormalizedLoaded;
  if (route.query && route.query.updatedMaterials) {
    Materials.value = JSON.parse(route.query.updatedMaterials as string);
  }
});

const goToCheckStock = () => {
    router.push({ name: 'checkstock' }); // ต้องแก้ตามชื่อของ route ที่ต้องการไป
  };

const goToImportStock = () => {
    router.push({ name: 'importstock' }); // ต้องแก้ตามชื่อของ route ที่ต้องการไป
  };

const goToBuyStock = () => {
    router.push({ name: 'buystock' }); // ต้องแก้ตามชื่อของ route ที่ต้องการไป
  };

</script>

<template>
  <v-container>
      <v-sheet min-width="1000" max-width="1800" min-height="600" max-height="800" elevation="6">
        <v-data-table-virtual :headers="headers" :items="Materials" height="500" item-value="name">
            <template v-slot:top>
              <v-toolbar>
                <v-toolbar-title class="text-center">Stock Management</v-toolbar-title>
              </v-toolbar>
            </template>
        </v-data-table-virtual>
      </v-sheet>
  </v-container>

  <v-container class="d-flex justify-end mt-4">
    <v-btn @click="goToBuyStock" class="mr-3">Buy Stock</v-btn>
    <v-btn @click="goToImportStock" class="mr-3" >Import Stock</v-btn>
    <v-btn @click="goToCheckStock" class="mr-3">Check Stock</v-btn>
  </v-container>
   
</template>
